{% extends 'admin/base_site.html'%}
{% load crispy_forms_filters static %}

{% block title %}Send Certificates {% endblock %}

{% block css %}
{% endblock%}

{% block js %}

{% endblock %}

{% block content %}
      <link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}" />

  <div class="container">
    <div class="row">
      <div class="col-md-8 py-4 mx-auto">
        <a href="{% url 'admin:index' %}" class="btn btn-outline-info mb-2"> < Back to Admin Page</a>
        <h3>Sending Certificates</h3>
        <hr>
        <p>Certificates will be sent to</p>
        <form class="form-control" action="{% url 'competition:send_certificate' competition_slug=c.slug %}" method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <input type="submit" class="btn btn-primary w-100" value="Send">
        </form>
      </div>
    </div>
  </div>
      <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>

    <script type="text/javascript" src="{% static 'admin/js/SelectBox.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/SelectFilter2.js' %}"></script>
{% endblock %}