{% extends 'admin/base_site.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto py-4">
        <a href="/admin/main/user" class="btn btn-outline-info mb-2 btn-sm"> < Back to Admin</a>
        <h2>Give Bulk Soromoney:</h2>
        <hr>
        <form action="{% url 'give_soromoney' %}" method="post">
          {% csrf_token %}
          <label>
            <input type="number" name="amount" placeholder="Enter Amount of Soromoney to give...">
          </label>
          <input type="submit" value="Submit" class="btn btn-primary">
        </form>

        <h4>Soromoney will be credited to the following users: </h4>
        <hr>
        <table class="table table-light">
          <tr>
            <th>User</th>
            <th>Current SoroMoney</th>
          </tr>
          {% for user in users %}
            <tr>
              <td>{{ user }}</td>
              <td>Re. {{ user.points }}</td>
            </tr>
          {% endfor %}
        </table>

      </div>
    </div>
  </div>
{% endblock content %}