{% extends 'admin/base_site.html' %}
{% load static %}

{% block extrahead %}
  {{ block.super }}
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="{%  static 'admin/js/core.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/SelectFilter2.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/SelectBox.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}"/>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto py-4">
        <a href="/admin/main/user" class="btn btn-outline-info mb-2 btn-sm"> < Back to Admin</a>
        <h2>Give Bulk Quiz Access:</h2>
        <hr>
        <form action="{% url 'grant_quiz_access' %}" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" value="Submit" class="btn btn-primary">
        </form>

        <h4>Access to this competition will be granted to the following users: </h4>
        <hr>
        <ul style="list-style-type: none">
          {% for user in users %}
            <li>{{ user }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}