<div class="modal fade" id="bought_competitions" tabindex="-1" role="dialog"
	 aria-labelledby="bought_competitions_title" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="bought_competitions_title">Competition
					Attempts</h5>
				<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body table-responsive">
				<table class="table table-striped" id="bought_competitions_table">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Competition</th>
							<th scope="col">Level</th>
{#							<th scope="col">Time</th>#}
							<th scope="col">Start Date</th>
							<th scope="col">End Date</th>
						</tr>
					</thead>
					<tbody class="table-hover">
						{% for competitions in bought_competitions %}
						<tr>
							<th scope="row"><a href="{{ competitions.get_absolute_url }}"><button class="btn btn-outline-primary btn-sm"><i class="fas fa-external-link-alt"></i></button></a></th>
							<td>{{ competitions.title }}</td>
							<td>{{ competitions.level }}</td>
{#							<td>{{ qs.attempt_time_human }} mins</td>#}
							<td>{{ competitions.start_date|date:"d M, y" }}</td>
							<td>{{ competitions.end_date|date:"d M, y" }}</td>
						</tr>
						{% empty %}
							<p>You haven't bought any competitions yet!</p>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close
				</button>
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready( function () {
    $('#bought_competitions_table').DataTable();
} );
</script>

