<div class="modal fade" id="quiz_attempts" tabindex="-1" role="dialog"
	 aria-labelledby="quiz_attempts_title" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="quiz_attempts_title">Quiz
					Attempts</h5>
				<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body table-responsive">
				<table class="table table-striped" id="quiz_attempts_table">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Quiz</th>
							<th scope="col">Score</th>
{#							<th scope="col">Time</th>#}
							<th scope="col">Date</th>
						</tr>
					</thead>
					<tbody class="table-hover">
						{% for qs in quiz_submissions %}
						<tr>
							<th scope="row"><a href="{% url 'quiz:check' quiz_slug=qs.quiz.slug quiz_submission_id=qs.id %}"><button class="btn btn-outline-primary btn-sm"><i class="fas fa-external-link-alt"></i></button></a></th>
							<td>{{ qs.quiz }}</td>
							<td>{{ qs.score|floatformat }}</td>
{#							<td>{{ qs.attempt_time_human }} mins</td>#}
							<td>{{ qs.start_time|date:"d M, y" }}</td>
						</tr>
						{% empty %}
							<p>You haven't attempted any quizzes yet!</p>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close
				</button>
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready( function () {
    $('#quiz_attempts_table').DataTable();
} );
</script>

