{% extends "global/base.html" %}
{% load static %}

{% block title %}Contact Us at Sorobrain{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{% static 'main/css/contact/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
   <link rel="stylesheet" href="{% static 'main/fonts/ionicons.min.css' %}">


    <link rel="stylesheet" href="{% static 'main/css/contact/Map-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/contact/Social-Icons.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/contact/styles.css' %}">
{% endblock css %}

{% block extrahead %}
{% endblock %}

{% block content %}
<div class="container">
    <div>
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h1 class="text-center">Contact Us</h1>
					<img class="img img-responsive text-center" alt="logo" style="text-align: center;  margin: 0 auto; max-width: 300px" src="{% static 'common/img/logo_75.png' %}">
					<hr>
                </div>
            </div>
            <div class="row text-center shadow rounded">
                <div class="col-md-12 col-lg-6">
                    <h3>Content Support</h3>
                    <p>If your query or issue has to do with the content of the website, or you want to book a class, please contact us below.&nbsp;</p>
                    <h6><i class="fas fa-phone-alt"></i>&nbsp; Phone: <a href="tel: +919810522445">+91981052244(five)&nbsp;</a><i class="fas fa-external-link-alt"></i></h6>
                    <h6><i class="fas fa-envelope"></i>&nbsp; Email:&nbsp;<em>&nbsp;</em><a href="mailto:info@sorobrain.com" target="_blank">seema@sorobrain.com</a>&nbsp;<i class="fas fa-external-link-alt"></i></h6>
                </div>
                <div class="col-md-12 col-lg-6">
                    <h3>Tech Support</h3>
                    <p>If you are facing an issue on the website, and are looking for tech help please contact us below. We respond to phone calls in 20-10 mins and emails within a day.&nbsp;</p>
                    <h6><i class="fas fa-phone-alt"></i>&nbsp; Phone: <a href="tel: +919871587593">+91 987158759(three)</a><i class="fas fa-external-link-alt"></i></h6>
                    <h6><i class="fas fa-envelope"></i>&nbsp; Email:&nbsp;<em>&nbsp;</em><a href="mailto:sorobrain.devs@gmail.com" target="_blank">sorobrain.devs@gmail.com</a>&nbsp;<i class="fas fa-external-link-alt"></i></h6>
                </div>
            </div>
        </div>
    </div>
	<center>
		<div class="social-icons text-center mt-4 shadow rounded" style="height: 86px;padding: 23px;">
			<a href="https://www.facebook.com/Sorobrain/"><i class="fab fa-facebook-f fa-3x px-4"></i></a>
			<a href="https://twitter.com/sorobrain/"><i class="fab fa-twitter fa-3x px-4"></i></a>
			<a href="https://www.instagram.com/sorobrain/"><i class="fab fa-instagram fa-3x px-4"></i></a>
			<a href="https://www.youtube.com/channel/UCqI3VWO3IbyXyePdp4RJkNg"><i class="fab fa-youtube fa-3x px-4"></i></a>
		</div>
	</center>
    <div class="map-clean">
        <div class="container mt-4 shadow rounded">
            <div class="intro pb-2">
                <h2 class="text-center" style="margin: 1px;">Address</h2>
                <p class="text-center" style="margin: -8px;">Central Park 1, Gurgaon, HR</p>
				<hr>
            </div>
        </div><iframe allowfullscreen="" frameborder="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBsTDMyo5VqlNZKtXk-mbYyr8g9DUQbAUU&amp;q=Centeral+Park+1%2C+Gurgaon&amp;zoom=15" width="100%" height="400" style="margin: 0px;"></iframe></div>
</div>
{% endblock %}

{% block js %}
	<script src="{% static 'main/js/index/bs-init.js' %}"></script>
{% endblock js %}
