{% extends "global/base.html" %}
{% load static %}

{% block title %}Events{% endblock title %}
{% block css %}
	<link rel="stylesheet" href="{% static 'main/css/events.css' %}">
{% endblock css %}

{% block content %}
	<div class="container">
		<div class="row wow animated fadeIn">
			<div class="col s12">
				<h2>Our Events</h2>
			</div>
		</div>

		<div class="main-container" id="timeline">

			<section id="timeline" class="timeline-outer wow animated fadeIn" data-wow-delay="0.5s">
				<div class="container" id="content">
					<div class="row">
						<div class="col s12 m12 l12">
							<ul class="timeline">
								<li class="event" data-date="June 2017">
									<img src="{% static 'common/images/perplexor.png' %}" class="photo-full">
									<p>'Perplexor' was the premier event of Thought Processors. It was an online cryptic hunt that aimed to enhance the problem-solving skills of students. Participants were challenged to solve various puzzles and navigate through a series of three webpages - interlinked by a common theme - to get to the final solution.</p>
								</li>
							</ul>
							<ul class="timeline">
								<li class="event event-black" data-date="April 2018">
									<img src="{% static 'common/images/perspectus-plain.png' %}" class="photo-full">
									<p>'Perspectus,' the second iteration in our series of cryptic hunts, was launched in April 2018. The participants were given three days to put their skills to the test and crack 15 tantalizing puzzles - ranging from simple ciphers to tedious base conversions.</p>
								</li>
							</ul>
							<ul class="timeline">
								<li class="event" data-date="June 2018">
									<img src="{% static 'common/images/baffl-grey.png' %}" class="photo-full">
									<p>'Baffl.' - India's first quest-based cryptic hunt, was launched in June 2018. Participants journeyed across 4 thrilling quests on cryptography, seafaring, warfare and technology. Moreover, the money collected was donated to Goonj, a non-profit organization working to solve various societal issues.</p>
								</li>
							</ul>
							<ul class="timeline">
								<li class="event event-black" data-date="April 2020">
									<img src="{% static 'common/images/odyssey-side.png' %}" class="photo-full">
									<p>'Odyssey' is the latest addition to our highly anticipated line of cryptic hunts. It is a quest-based hunt that requires players to take on widely different roles: from promising virologists to members of the Freemasons. Are you up for the challenge? <a style="color: #eacd46;" href="{% url 'register' %}">Register now.</a></p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>

		</div>

	</div>
{% endblock content %}

{% block js %}
	<script src="{% static 'main/js/events.js' %}"></script>
{% endblock js %}
