{% extends "global/base.html" %}
{% load static %}

{% block title %} Global Testimonials {% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <section class="my-3">
          <div class="container">
            <div class="row">
              <div class="col-md-8 mx-auto text-center">
                <h3>We're Global</h3>
                <hr>
              </div>
            </div>
            <div class="row">
              <div class="card-columns">
                <div class="card">
                  <img class="card-img-top" src="{% static 'main/img/global/oscar.jpg' %}" alt="person">
                  <div class="card-header border-primary"><span class="card-title">Paraguay</span></div>
                  <div class="card-body">
                    <p>We came to India in July 2011 from Paraguay and we only knew Spanish. My father Oscar Ubaldo
                      Benitez is a Diplomat in Paraguay Embassy and we had to stay in India for at least another 5
                      years.
                      It was almost impossible to get admission in any Indian school without the knowledge of English. I
                      and my sister Violeta Jeruti Benitez underwent an English course at Sorobrain® under Seema and we
                      learnt to speak the language in only 7 months. We got a very friendly environment at the
                      institute.
                      The faculty is very helpful and the staff especially Bhawna & Durga are very cooperative. Today,
                      we
                      both are in a good school in Delhi. Now my father is also learning English in the Institute as we
                      are very happy and satisfied that we are able to speak the language at this early age. We are
                      grateful to Seema Jain and Sorobrain
                    </p>
                  </div>
                  <div class="card-footer"><strong>-Oscar Nicolas Benitez</strong></div>
                </div>
                <div class="card">
                  <img class="card-img-top img-responsive" src="{% static 'main/img/global/pieter.jpg' %}" alt="person">
                  <div class="card-header border-primary"><span class="card-title">Belgium</span></div>
                  <div class="card-body">
                    <p>Seema is very approachable and friendly. I never felt reluctant asking questions, and she always
                      answered patiently, with a lot of interesting details. Time really flies in class because she
                      makes the whole process engaging, interactive, and fun! Not only is Seema well-versed in French,
                      but is also a great teacher and communicator
                    </p>
                  </div>
                  <div class="card-footer"><strong> - Pieter Dockx </strong></div>
                </div>
                <div class="card">
                  <img class="card-img-top" src="{% static 'main/img/global/deepshika.jpeg' %}" alt="person">
                  <div class="card-header border-primary"><span class="card-title">Singapore</span></div>
                  <div class="card-body">
                    <p>Seema has an excellent grasp of the French Language. The best part is that she is well acquainted
                      with syllabi of different boards, including international curriculums. A student of grade 7, my
                      son
                      was able to strengthen his foundations of French language and grammar. Seema was able to engage
                      him
                      through songs and stories and helped him build his verbal skills as well.
                    </p>
                  </div>
                  <div class="card-footer"><strong> - Deepshikha Mehta</strong></div>
                </div>
                <div class="card">
                  <img class="card-img-top" src="{% static 'main/img/global/angel.jpg' %}" alt="person">
                  <div class="card-header border-primary"><span class="card-title">Spain</span></div>
                  <div class="card-body">
                    <p>I am a European student and when I was on a vacation in India my relatives recommended Sorobrain
                      to improve my French. It’s totally different learning system from the Europe and it made me
                      improve my level by 200% thanks to its fast and effective system.
                    </p>
                  </div>
                  <div class="card-footer"><strong> - Angel Lopez </strong></div>
                </div>
                <div class="card">
                  <img class="card-img-top" src="{% static 'main/img/global/jayant.jpg' %}" alt="person">
                  <div class="card-header border-primary"><span class="card-title">India</span></div>
                  <div class="card-body">
                    <p>I had the privilege of studying French under Seema Jain for 5 years. Not only was I able to
                      exponentially improve my performance in tests during school, the curriculum taught to me by Mrs.
                      Seema stayed with me after my time with Sorobrain. When I went to pursue my career in Dubai, I was
                      able to hold conversations with French Nationals and form meaningful relationships with them due
                      to my grasp of the french language and culture. This was only made possible due to Mrs. Seema's
                      focus on mastering french in real-life scenarios!
                    </p>
                  </div>
                  <div class="card-footer"><strong> - Jayant </strong></div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
{% endblock %}