{% extends 'global/base.html' %}

{% block title %} Refund Policy | Ssorobrain {% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-8 mx-auto">
				<h1>Privacy Policy&nbsp;</h1>
				<p>Sorobrain is committed to protecting your privacy and giving
					you a safe online experience. This Privacy Policy applies
					to all of the products, services and websites offered by
					Sorobrain or its subsidiaries or affiliated companies.
					Sometimes, we may post product specific privacy notices or
					materials to explain our services and products in more
					detail. If you have any questions about this Privacy
					Policy, please feel free to contact us through our
					website.</p>
				<p><strong>Last Updated: 21/05/2020</strong></p>
				<h2>Advertising Cookie and OPT-OUT</h2>
				<p>When you are accessing the internet through a web browser,
					we may use cookies from Facebook, Google (and other
					advertisers) to improve your online experience, including
					the display of more relevant ads.<br/><br/> Anyone may
					opt-out of the Google cookie at any time by going to your
					Google Ad Settings. You may also opt-out of the Facebook
					cookie at any time by going to your Facebook Ad Settings.
				</p>
				<h2>Information We Collect and How We Use It</h2>
				<p>We may collect the following types of information:</p>
				<ul>
					<li><strong>Information you provide -</strong> When you
						sign up with or make a purchase from Sorobrain, we ask
						you for personal information. We may combine the
						information you submit with information from other
						Sorobrain services or third parties in order to provide
						you with a better experience and to improve the quality
						of our services. This won't occur without your consent
						unless necessary for site security. This data is
						retained for as long as you have an active account with
						Sorobrain.
					</li>
					<li><strong>Cookies </strong>- When you visit Sorobrain, we
						send one or more cookies to your device. We use cookies
						to improve the quality of our service, including for
						storing user preferences, improving search results and
						ad selection, and tracking user trends, such as how
						people search. Sorobrain also uses cookies in its
						advertising services to help advertisers and publishers
						serve and manage ads across the web and on Sorobrain
						services.
					</li>
					<li><strong>Log information -</strong> When you access the
						services of Sorobrain via browser, application, or
						other clients, our servers automatically record certain
						information. These server logs may include information
						such as your web request, your interaction with a
						service, Internet Protocol address, browser type,
						browser language, the date and time of your request and
						one or more cookies that may uniquely identify your
						browser or your account. These logs are retained for a
						period of &lt;NUMBER&gt; days and are used for
						anti-fraud and website security purposes. After this
						time, these logs are automatically deleted.
					</li>
					<li><strong>Traffic information -</strong> When you access
						the services of Sorobrain via browser, application, or
						other, clients we record certain information using our
						traffic analysis tool, Google Analytics. This
						information is stored in an anonymised manner but does
						include data such as your web request, your interaction
						with a service, Internet Protocol address, browser
						type, browser language, the date and time of your
						request and one or more cookies that may uniquely
						identify your browser or your account. These logs are
						retained for a period of &lt;NUMBER&gt; months and are
						used for content and marketing planning purposes so
						that we can improve our content and services. After
						this time, these logs are automatically deleted.
					</li>
					<li><strong>User communications -</strong> When you send an
						email or other communications to Sorobrain, we may
						retain those communications in order to process your
						inquiries, respond to your requests and improve our
						services. When you send and receive SMS messages to or
						from one of our services that provides SMS
						functionality, we may collect and maintain information
						associated with those messages, such as the phone
						number, the wireless carrier associated with the phone
						number, the content of the message, and the date and
						time of the transaction. We may use your email address
						to communicate with you about our services or products
						but never to send you communications that are not
						related to your purchases or that you haven't opted
						into.
					</li>
					<li><strong>Affiliated Sorobrain services on other sites
						-</strong> We offer some of our services on or through
						other websites. Personal information that you provide
						to those sites may be sent to Sorobrain in order to
						deliver the service. We process such information under
						this Privacy Policy.
					</li>
					<li><strong>Third Party Applications -</strong> Sorobrain
						may make available third party applications, such as
						plugins, modules or extensions, through its services.
						The information collected by Sorobrain when you enable
						a third party application is processed under this
						Privacy Policy. Information collected by the third
						party application provider is governed by their privacy
						policies.
					</li>
					<li><strong>Location data -</strong> Sorobrain offers
						location-enabled services. If you use those services,
						Sorobrain may receive information about your actual
						location (such as GPS signals sent by a mobile device)
						or information that can be used to approximate a
						location (such as a cell ID). This data is not recorded
						without your permission and is not held for any longer
						than the period required to deliver the specific
						service.
					</li>
					<li><strong>Other sites -</strong> This Privacy Policy
						applies to Sorobrain's services only. We do not
						exercise control over the sites displayed as search
						results, sites that include Sorobrain applications,
						products or services, or links from within our various
						services. These other sites may place their own cookies
						or other files on your computer, collect data or
						solicit personal information from you.
					</li>
				</ul>
				<p><br/> In addition to the above, we may use the information
					we collect to:</p>
				<ul>
					<li>Provide, maintain, protect, and improve our services
						(including advertising services) and develop new
						services; and
					</li>
					<li>Protect the rights or property of Sorobrain or our
						users.
					</li>
				</ul>
				<p>If we use this information in a manner different than the
					purpose for which it was collected, then we will ask for
					your consent prior to such use.<br/><br/> Sorobrain
					processes personal information on our servers in &lt;COUNTRY&gt;.
					In some cases, we process personal information outside your
					own country.</p>
				<h2>Choices</h2>
				<p>You can use your account on the Sorobrain website to review
					and control the information stored in your Sorobrain
					account. Most browsers are initially set up to accept
					cookies, but you can reset your browser to refuse all
					cookies or to indicate when a cookie is being sent.
					However, some of the Sorobrain features and services may
					not function properly if your cookies are disabled.</p>
				<h2>Information Sharing</h2>
				<p>Sorobrain only shares personal information with other
					companies or individuals outside of Sorobrain in the
					following limited circumstances:</p>
				<ul>
					<li>We have your consent. We require opt-in consent for the
						sharing of any sensitive personal information.
					</li>
					<li>If we provide such information to our subsidiaries,
						affiliated companies or other trusted businesses or
						persons for the purpose of processing personal
						information on our behalf. We require that these
						parties agree to process such information based on our
						instructions and in compliance with this Privacy Policy
						and any other appropriate confidentiality and security
						measures.
					</li>
					<li>We have a good faith belief that access, use,
						preservation or disclosure of such information is
						reasonably necessary to (a) satisfy any applicable law,
						regulation, legal process or enforceable governmental
						request, (b) enforce applicable Terms of Service,
						including investigation of potential violations
						thereof, (c) detect, prevent, or otherwise address
						fraud, security or technical issues, or (d) protect
						against harm to the rights, property or safety of
						Sorobrain, its users or the public as required or
						permitted by law.
					</li>
				</ul>
				<p>If Sorobrain becomes involved in a merger, acquisition, or
					any form of sale of some or all of its assets, we will
					ensure the confidentiality of any personal information
					involved in such transactions and provide notice before
					personal information is transferred and becomes subject to
					a different privacy policy.</p>
				<h2>Information Security</h2>
				<p>We take appropriate security measures to protect against
					unauthorized access to or unauthorized alteration,
					disclosure or destruction of data. These include internal
					reviews of our data collection, storage and processing
					practices and security measures, including appropriate
					encryption and physical security measures to guard against
					unauthorized access to systems where we store personal
					data.<br/><br/> We restrict access to personal information
					to Sorobrain employees, contractors and agents who need to
					know that information in order to process it on our behalf.
					These individuals are bound by confidentiality obligations
					and may be subject to discipline, including termination and
					criminal prosecution if they fail to meet these
					obligations.</p>
				<h2>Accessing And Updating Personal Information</h2>
				<p>When you use Sorobrain services, we make good faith efforts
					to provide you with access to your personal information and
					either to correct this data if it is inaccurate or to
					delete such data at your request if it is not otherwise
					required to be retained by law or for legitimate business
					purposes.</p>
				<p>We ask individual users to identify themselves and the
					information requested to be accessed, corrected or removed
					before processing such requests, and we may decline to
					process requests that are unreasonably repetitive or
					systematic, require disproportionate technical effort,
					jeopardize the privacy of others, or would be extremely
					impractical (for instance, requests concerning information
					residing on backup tapes), or for which access is not
					otherwise required. In any case, where we provide
					information access and correction, we perform this service
					free of charge, except if doing so would require a
					disproportionate effort. Because of the way we maintain
					certain services, after you delete your information,
					residual copies may take a period of time before they are
					deleted from our active servers and may also remain in our
					backup systems for a period of time.</p>
				<h2>Enforcement</h2>
				<p>Sorobrain regularly reviews its compliance with this Privacy
					Policy. When we receive formal written complaints, it is
					Sorobrain's policy to contact the complaining user
					regarding his or her concerns. We will cooperate with the
					appropriate regulatory authorities, including local data
					protection authorities, to resolve any complaints regarding
					the transfer of personal data that cannot be resolved
					between Sorobrain and an individual.</p>
				<h2>Changes To This Privacy Policy</h2>
				<p>Please note that this Privacy Policy may change from time to
					time. We will not reduce your rights under this Privacy
					Policy without your explicit consent. We will post any
					Privacy Policy changes on this page and, if the changes are
					significant, we will provide a more prominent notice
					(including, for certain services, email notification of
					Privacy Policy changes).</p>
			</div>
		</div>
	</div>
{% endblock %}