{% extends "global/base.html" %}
{% load static %}

{% block title %}Profile | Sorobrain{% endblock title %}

{% block css %}
	<!-- data tables --> <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css"/>
{% endblock css %}

{% block content %}
	<div class="container-fluid px-5">
		<div class="row mt-2">
			<div class="col-md-12">
				<nav aria-label="breadcrumb">
				  <ol class="breadcrumb">
				  	<li class="breadcrumb-item active" aria-current="page"><i class="fa fa-user-o" aria-hidden="true"></i>  Profile</li>
				  </ol>
				</nav>
			</div>
		</div>
		<div class="row shadow-lg bg-white mt-3 mb-5 p-1 rounded">
			<div class="col-md-8">
				<img alt="profile_pic" class="img-fluid img-thumbnail rounded float-left mr-2" src="{% if user.avatar %}{{ user.avatar.url }}{% else %}{% static 'common/img/default-user.png' %}{% endif %}" style="max-height: 60px"/>
				<h3 class="text-dark display-6 align-middle mt-2"> {% if user.gender == 'M' %} Bienvenu {% else %} Bienvenue {% endif %} {{ user.name }}</h3>
			</div>
			<div class="col-md-4 float-right mt-2" style="text-align: right;">
				<a href="{% url 'settings' %}"><button class="btn btn-primary"><i class="fas fa-cog" aria-hidden="true"></i>  Settings </button></a>
				<a href="{% url 'account_logout' %}"><button class="btn btn-secondary align-middle"><i class="fa fa-sign-out" aria-hidden="true"></i>  Log Out</button></a>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
<div class="card-columns">
  <div class="card">
    <img class="card-img-top" src="{% static 'main/img/catalog/workshops-placeholder.png' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">My Workshops</h5>
      <p class="card-text">These are all the current workshops you're registered for: </p>
	  <ul class="list-group list-group-flush">
	    {% for wa in access_workshops %}
			<li class="list-group-item"><a href="{{ wa.workshop.get_absolute_url }}">{{ wa.workshop.title }}</a></li>
	    {% empty %}
			<li class="list-group-item">No workshops yet!</li>
		{% endfor %}
	  </ul>
    </div>
  	<div class="card-footer">
		<a href="{% url 'catalog' %}#workshops"><button class="btn btn-primary">Get More</button></a>
	</div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{% static 'main/img/catalog/competitions-placeholder.png' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">My Competitions</h5>
      <p class="card-text">Below are all the competitions that you have resisted for, make sure to participate when it starts.  </p>
    </div>
  	<div class="card-footer">
		<a href="{% url 'catalog' %}#competitions"><button class="btn btn-primary p-1">Get More</button></a>
		<button class="btn btn-primary p-1" data-toggle="modal" data-target="#bought_competitions">View Registered Competitions</button>

	</div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{% static 'main/img/catalog/quiz-placeholder.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">My Practice Quizzes</h5>
      <p class="card-text">Get practice quizzes from the catalog section. Below you will find the quizzes that you have bought, and all the quizzes that you have attempted until now.</p>
    </div>
  	<div class="card-footer">
		<a href="{% url 'catalog' %}#practice"><button class="btn btn-primary m-1">Get More</button></a>
		<button type="button" class="btn btn-primary m-1" data-toggle="modal" data-target="#bought_quizzes">Bought Quizzes</button>
		<button type="button" class="btn btn-info m-1" data-toggle="modal" data-target="#quiz_attempts">Quiz Attempts</button>
	</div>
  </div>
	<div class="card mb-3" style="max-width: 540px;">
	  <div class="row no-gutters">
		<div class="col-md-4">
		  <img src="{% static 'common/img/book.jpeg' %}" class="card-img" alt="...">
		</div>
		<div class="col-md-8">
		  <div class="card-body" id="textbook">
			<h5 class="card-title">Our Handbook: Le bleu ou la rose!</h5>
			<p class="card-text">
				{% if not has_book_access %}
					Sorobrain's book, Le bleu ou la rose, is a fantastic resource that consolidates all the tips, tricks, and noun categorizations to master French. The book is available for purchase online, but you'll also get access to it after you register for a competition!
				{% else %}
					You have access to our handbook now! Click on the button below to open up the PDF of the book! Also, we request that you keep the book to yourself and don't share it with anyone else.
				{% endif %}
			</p>
		  </div>
		  <div class="card-footer">
				<a class="btn btn-primary m-1" role="button" href="{% url 'book' %}" target="_blank"><i class="fas fa-book"></i> {% if has_book_access %} Open the PDF {% else %} Get the eBook {% endif %}</a>
		  </div>
		</div>
	  </div>
	</div>
</div>
</div>
	<!-- modals -->
	{% include 'main/modals/quiz_submissions.html' %}
	{% include 'main/modals/quizzes_with_access.html' %}
	{% include 'main/modals/competitions_with_access.html' %}

</div>
{% endblock content %}

{% block js %}
	<script src="{% static 'main/js/index.js' %}"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
{% endblock js %}
