{% extends 'global/base.html' %}

{% block title %} Refund Policy | Ssorobrain {% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-8 mx-auto">
				<h2>Refund Policy</h2>
				REFUNDS WILL NOT BE PROVIDED FOR ANY SUBSCRIPTION. WE DO NOT
				PROVIDE CREDIT, REFUNDS OR PRORATED BILLING FOR SUBSCRIPTIONS
				THAT ARE CANCELLED MID-DURATION. In such a circumstance, you
				will continue to have access to your subscription until the end
				of the billing cycle. eSorobrain reserves the right to offer
				refunds, discounts or other consideration in select
				circumstances at its sole discretion. Please note that each
				circumstance is unique and election to make such an offer in
				one instance does not create the obligation to do so in
				another.
			</div>
		</div>
	</div>
{% endblock %}