{% extends "global/base.html" %}
{% load static %}

{% block title %}Reset Password{% endblock title %}
{% block css %}
	<link rel="stylesheet" href="{% static 'main/css/reset.css' %}">
{% endblock css %}

{% block content %}
	<div class="container">
		<div class="section"></div>
		<div class="row">
			<div class="col s12">
				<h2>Reset Password</h2>
				{% if error %}
					<p style="color: #d84141 !important;">
						{{ error }}
					</p>
				{% endif %}
				<br>
				<form autocomplete="off" method="post" action="#" style="padding-top: 20px;">
					{% csrf_token %}
					<div class="row">
						<div class="input-field col s12 m6">
							<input placeholder=" " class="validate" id="password" type="password"
								name="password" required>
							<label class="active" for="password">Password</label>
						</div>
						<div class="input-field col s12 m6">
							<input placeholder=" " class="validate" id="password2" type="password"
								name="password2"
								required>
							<label class="active" for="password2">Repeat Password</label>
						</div>
					</div>

					<div class="row">
						<div class="col s12 center-align">
							<button type="submit" class="btn waves-effect waves-light valign-wrapper">
								Submit
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="section"></div>
	</div>
{% endblock content %}

{% block js %}
	<script src="{% static 'main/js/reset.js' %}"></script>
{% endblock js %}
