{% extends 'global/base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'common/css/store/product_page/bootstrap.min.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Adamina">
  <link rel="stylesheet" href="{% static 'common/css/store/product_page/Features-Clean.css' %}">
  <link rel="stylesheet" href="{% static 'common/css/store/product_page/Testimonials.css' %}">
  <style>
    .blink_me {
      animation: blinker 3s linear infinite;
    }

    @keyframes blinker {
      50% {
        opacity: 0;
      }
    }
  </style>
{% endblock %}

{% block title %}
  SB Competition: {{ competition.title }}
{% endblock %}

{% block content %}
  <div style="margin-top: 24px;margin-bottom: 28px;">
    <div class="container-fluid text-left">
      <div class="row text-center">
        <div class="col-md-7 col-lg-5 offset-md-0 offset-lg-1 text-center text-sm-right">
          <img class="img-thumbnail img-fluid d-inline-block align-items-lg-center"
               src="{{ competition.thumbnail.url }}">
          <div class="alert alert-success" role="alert"><span><strong>Description:</strong>&nbsp;<br></span>
            <p>{{ competition.description|safe }}&nbsp;</p></div>
        </div>
        <div class="col-md-5 col-lg-5 shadow-sm">
          <h3 style="font-family: Adamina, serif;margin-top: 13px;">{{ competition.title }}&nbsp;</h3>
          <p style="color: #282821;font-size: 22px;"><em>Interactive online competitions with instant analysis!</em><br>
          </p>
          <h6 class="text-danger blink_me">KINDLY ABIDE BY THE AGE ELIGIBILITY
            CRITERIA MENTIONED IN THE DETAILS OF EACH LEVEL ON
            THE
            WEBSITE BEFORE REGISTERING AND IGNORE THE ONE MENTIONED IN THE DOCUMENT LINK</h6>
          <p style="color: rgb(12,119,226);"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
              class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></p>
          <strong style="font-size: 21px;margin-bottom: 3px;padding: 24px;">{% if competition.discount %}Discount:
            {{ competition.discount }}% <br> Rs.{{ competition.sub_total }};
            <i class="text-muted small">Original Cost: <strike>Rs. {{ competition.cost }}</strike></i>{% else %}Price:
            Rs. {{ competition.cost }}{% endif %}<br><small class="small text-muted">Inclusive of taxes & 2% towards <a
              href="https://maitribodh.org/"> MBPC Trust </a> for upliftment of human
            consciousness</small><br><br></strong>
          <p class="text-muted">Competitions are provided on the web platform itself. After buying you will be able to
            attempt the competition through your account page with our interactive interface. </p>
          <hr>
          <p> This Competition was added on {{ competition.created_on }}
            <br> and it is aimed at learners of the <i>{{ competition.level }}</i> level.</p>
          {% if not competition.is_started %}
            <label for="code"></label><input type="text" id="code" class="form-control mb-1"
                                             placeholder="Enter discount code, if you have one...">
            <button class="btn btn-success text-center" type="button"
                    style="width: 100%;padding: 8px;margin: 0px;margin-top: 0px;margin-bottom: 7px;" id="buy"><i
                class="fas fa-user-plus"></i>&nbsp;Register
            </button>
            <a href="{% url 'competition:code' slug=competition.slug %}">
              <button class="btn btn-outline-primary text-center" type="button"
                      style="width: 100%;padding: 8px;margin: 0px;margin-top: 0px;margin-bottom: 7px;"><i
                  class="fas fa-barcode"></i>&nbsp;Register With Code
              </button>
            </a>
            <a href="{% url 'competition:group_buy' slug=competition.slug %}">
              <button class="btn btn-outline-success text-center" type="button"
                      style="width: 100%;padding: 8px;margin: 0px;margin-top: 0px;margin-bottom: 7px;"><i
                  class="fas fa-users"></i>&nbsp;Register for Schools/Groups
              </button>
            </a>
            <p>If you're not in India, please contact our <a href="{% url 'contact' %}">Content Support</a> to register!
            </p>
          {% elif competition.is_over %}
            <p>This competition has ended, view the result below: </p>
            <a href="{% url 'competition:result' slug=competition.slug %}">
              <button class="btn btn-primary">View Results</button>
            </a>
          {% else %}
            <p>This competition is in progress, and is not accepting further registrations. </p>
          {% endif %}
          <p class="text-center" style="color: rgb(0,0,0);margin-top: 15px;font-size: 19px;">Sharing is caring.<br><i
              class="fab fa-facebook"></i>&nbsp;&nbsp;<i class="fab fa-twitter"></i>&nbsp;&nbsp;<i
              class="fab fa-instagram"></i>&nbsp;&nbsp;<i class="fab fa-whatsapp"></i>&nbsp;&nbsp;<i
              class="fas fa-envelope"></i></p>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="features-clean">
    <div class="container">
      <div class="intro">
        <h2 class="text-center" style="padding-top: 1px;margin-bottom: 8px;">What do I get?</h2>
      </div>
      <div class="row features">
        <div class="col-sm-12 col-lg-7 item"><i class="fa fa-map-marker icon"></i>
          <h3 class="name">Overview</h3>
          <p class="description">International level competitions that pit students against each other and test their
            knowledge in the specific field of gender of nouns, an area most students struggle with. The winners of the
            competition will be rewarded with exciting prizes and widely recognized certificates.</p>
        </div>
        <div class="col-sm-6 col-lg-5 offset-lg-0 item" style="width: 442px;"><i class="fas fa-laptop icon"></i><img
            class="img-fluid float-left rounded" src="{% static 'workshops/img/workshop-what-do-i-get.gif' %}"
            style="width: 398px;padding-top: 2px;"></div>
      </div>
    </div>
  </div>
  <div class="" style="background-color: #f3f3f3;">
    <div class="container" style="margin-bottom: 0px;padding-bottom: 49px;">
      <h1 class="text-center">Related competitions</h1>
      <div class="card-group">
        <div class="card"><img class="card-img-top w-100 d-block"
                               src="{% static 'main/img/catalog/competitions-placeholder.png' %}">
          <div class="card-body">
            <h4 class="card-title">Coming Soon</h4>
            <p class="card-text">We're working hard to get other competitions up and running!</p>
            <button class="btn btn-secondary" type="button">Details</button>
          </div>
        </div>
        <div class="card"><img class="card-img-top w-100 d-block"
                               src="{% static 'main/img/catalog/competitions-placeholder.png' %}">
          <div class="card-body">
            <h4 class="card-title">Coming Soon</h4>
            <p class="card-text">We're working hard to get other competitions up and running!</p>
            <button class="btn btn-secondary" type="button">Details</button>
          </div>
        </div>
        <div class="card"><img class="card-img-top w-100 d-block"
                               src="{% static 'main/img/catalog/competitions-placeholder.png' %}">
          <div class="card-body">
            <h4 class="card-title">Coming Soon</h4>
            <p class="card-text">We're working hard to get other competitions up and running!</p>
            <button class="btn btn-secondary" type="button">Details</button>
          </div>
        </div>
      </div>
    </div>
    <div class="container" style="margin-bottom: 0px;padding-bottom: 49px;">
      <div id="disqus_thread"></div>
      <script>

          /**
           *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
           *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

          var disqus_config = function () {
              this.page.url = "{{ request.scheme }}://{{ request.get_host }}{{ competition.get_absolute_url }}";  // Replace PAGE_URL with your page's canonical URL variable
              this.page.identifier = '{{ competition.slug }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
          };

          (function () { // DON'T EDIT BELOW THIS LINE
              var d = document, s = d.createElement('script');
              s.src = 'https://esorobrain-1.disqus.com/embed.js';
              s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
        Disqus.</a></noscript>
    </div>
  </div>

  <script id="bolt" src="https://checkout-static.citruspay.com/bolt/run/bolt.min.js"></script>
  <script>
      $('#buy').click(function () {

          console.log('Works?');

          {% if user.is_authenticated %}

              $.ajax({
                  type: 'POST',
                  url: '{{ competition.get_absolute_url }}',
                  data: {
                      'code': $('#code').val(),
                      'csrfmiddlewaretoken': '{{ csrf_token }}'
                  },
                  success: function (data, status) {
                      let RequestData = {
                          key: data.merchant_key,
                          txnid: data.txn_id,
                          hash: data.hash,
                          amount: parseFloat(data.amount),
                          firstname: data.first_name,
                          email: data.email_id,
                          phone: data.phone_number,
                          productinfo: data.product_info,
                          surl: data.surl,
                          furl: data.furl,
                          udf1: data.udf1,
                          udf2: data.udf2,
                          mode: 'dropout',
                      };
                      /* console.log(RequestData);
                      console.log(typeof RequestData.amount); */

                      let Handler = {
                          responseHandler: function (BOLT) {
                              console.log(BOLT.response.txnStatus);
                          },
                          catchException: function (BOLT) {
                              alert(BOLT.message);
                          },
                      };

                      bolt.launch(RequestData, Handler);
                  },
                  dataType: 'json',
              });

          {% else %}

              location.href = "{% url 'account_login' %}";

          {% endif %}

      });
  </script>

{% endblock %}