.valign-wrapper {
    height: 80vh;
}

@media all and (max-width: 600px) {
    .container {
        margin: auto 6px;
    }
	
    h3 {
        font-size: 32px !important;
    }
	
    h5 {
        font-size: 22px !important;
    }
}