.banner {
	background: linear-gradient(to bottom right, #000 25%, #34495E);
	height: 300px;
}

.cBig {
	background: linear-gradient(to bottom right, #111 25%, #34495E);
}

@media all and (max-width: 600px) {
	.cBig {
		width: 95%;
	}
}

.card-title {
    color: #fff !important;
    text-align: left !important;
}
