{% extends "global/base.html"%}

{% block css %}
{% endblock %}

{% block content %}
    <div class="container">
        <h1> Workshops Index </h1>
		<hr>
		<div class="row">
			<div class="col-md-6">
				<h3>Upcoming Workshops</h3>
				<ul style="list-style-type: none">
					<li>fsad</li>
				</ul>
			</div>
			<div class="col-md-6">
				<h3>Previous Workshops</h3>
				<ul style="list-style-type: none">
					<li>fsad</li>
				</ul>
			</div>
		</div>
    </div>
{% endblock %}